<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Log In or Sign Up</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>
<h2>Saif's Twitter Clone </h2><br>
<div class="login">
    <form id="login" method="get" action="login.php">
        <label><b>User Handle
        </b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="Handle">
        <br><br>
        <label><b>Secret Phrase
        </b>
        </label>
        <input type="Password" name="Pass" id="Pass" placeholder="Shhhhhh">
        <br><br>
        <input type="button" name="log" id="log" value="Log In Here">
        <br><br>
        <input type="checkbox" id="check">
        <span>Remember me</span>
        <br><br>
    </form>

    <form id="signup" method="get" action="signup.php">
        <label><b>Desired Handle
        </b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="Handle">
        <br><br>
        <label><b>Secret Phrase
        </b>
        </label>
        <input type="Password" name="Pass" id="Pass" placeholder="Shhhhhh">
        <br><br>
        <input type="button" name="log" id="log" value="Sign Up Here">
        <br><br>
        <br><br>
    </form>
</div>
</body>
</html>