<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Log In or Sign Up</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>
<h2>Saif's Twitter Clone </h2><br>
<div class="login">
    <h1>Sign Up</h1>
    <form method="POST" action="/signup">
        {% csrf_token %}
        <input name="username" placeholder="username" />
        <input name="email" placeholder="email" />
        <input name="password" placeholder="password" type="password" />
        <input type="submit" />
    </form>

    <h1>Log In</h1>
    <form method="POST" action="/login">
            {% csrf_token %}
            <input name="username" placeholder="username" />
            <input name="password" placeholder="password" type="password" />
            <input type="submit" />
    </form>

    <br><br>
    {% for user in users %}
        {if username == user:
            if password == password:
                # allow access, shift navigation}
    {% endfor %}
    <input type="checkbox" id="check">
    <span>Remember me</span>
    <br><br>
</div>
</body>
</html>